#nav {
  .navbar-brand {
    h1 {
      font-weight: 900;
    }
  }
  .items {
    width: 100%;
    .item-1 {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      .link-items {
        gap: 2rem;
        a {
          color: #000;
          font-weight: 700;
        }
      }
    }
    .item-2 {
      .navbar-nav {
        gap: 2rem;
        .input-container {
          padding: 10px;
          position: relative;
          input {
            padding: 10px 9px;
            outline: none;
            border: 1px solid #ccc;
          }
          span {
            position: absolute;
            top: 15px;
            right: 20px;
            font-size: 22px;
          }
        }
      }
      .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
#home {
  #header {
    .item-1 {
      h1 {
        font-size: 4.5rem;
        max-width: 450px;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
      }
      p {
        font-size: 18px;
        max-width: 350px;
        margin-bottom: 2rem;
      }
      span {
        font-weight: 600;
        text-decoration: underline;
      }
    }
  }
  #list {
    .book-item {
      padding: 20px;
      img {
        width: 238px;
        height: 284px;
      }
      h3 {
        font-size: 16px;
        margin-top: 1rem;
        max-width: 264px;
        font-weight: 900;
      }
      h4 {
        font-size: 15px;
        color: $secondary-color;
        padding-bottom: 1rem;
      }
    }
  }
  #experience {
    background-color: #cccccc;
    padding-bottom: 3rem;
    .item-1 {
      margin-top: 3rem;
    }
    .item-2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 2.5rem;
        text-align: center;
        font-weight: 800;
        margin-bottom: 2rem;
      }
      p {
        color: $secondary-color;
        margin-bottom: 1.5rem;
      }
    }
  }
  #main-footer {
    .icons {
      ul {
        display: flex;
        gap: 2rem;
        padding-left: 0rem;
        margin-top: 2rem;
        list-style: none;
        li {
          font-size: 25px;
        }
      }
    }
    .item {
      ul {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style: square;
        padding-left: 1.5rem;
      }
    }
  }
}
