@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700&display=swap");
body {
  background-color: #e0dad5 !important;
  font-family: "Roboto", sans-serif !important;
  color: #000 !important;
}
a {
  text-decoration: none !important;
  color: #000 !important;
  &:hover {
    color: #000 !important;
  }
}
.section-margin {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}
.pb-6 {
  margin-bottom: 6rem;
}
.pt-6 {
  margin-top: 4rem !important;
}
.line-bottom {
  border-bottom: 1px solid #9f9797 !important;
  margin: 0 4rem;
  padding-bottom: 2rem;
}
.primary-btn {
  @include button-style;
  &:hover {
    background-color: #000;
    color: #fff !important;
  }
}
.form-btn {
  @include button-style;
  padding: 10px 33px;
  background: #000;
  color: #fff;
  &:hover {
    background-color: $background-color;
    color: #000;
    transition: 0.3s;
  }
}
.secondary-btn {
  background-color: #000 !important;
  color: #ffff;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  span {
    font-size: 19px;
    font-weight: 900;
  }
  &:hover {
    background-color: $background-color !important;
    color: #000;
  }
  @include button-style;
}
.pageTitle {
  margin-top: 2rem;
  h3 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
  }
}
.book-item {
  padding: 20px;
  img {
    width: 238px;
    height: 284px;
  }
  h3 {
    font-size: 16px;
    margin-top: 1rem;
    max-width: 264px;
    font-weight: 900;
  }
  h4 {
    font-size: 15px;
    color: $secondary-color;
    display: flex;
    margin-bottom: 1.3rem;
    ul {
      list-style: none;
      display: flex;
      padding-left: 0.5rem;
      gap: 1rem;
      li {
        max-width: min-content;
      }
    }
  }
}
