body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
}
a {
  color: unset !important;
  text-decoration: none !important;
}
.mt-6 {
  margin-top: 5rem;
}
.error {
  margin-top: 2rem !important;
  color: $primary-color;
}
.section-margin {
  margin-bottom: 3.5rem !important;
  margin-top: 3.5rem !important;
}
.input-container {
  position: relative;
  .movie-input {
    padding: 11px 72px 10px 19px;
    outline: none;
    border: 1.5px solid #6c6a6a;
    border-radius: 30px;
  }
  span {
    position: absolute;
    right: 16px;
    top: 0px;
    font-size: 25px;
    cursor: pointer;
    color: #6c6a6a;
  }
  &:focus {
    border: 1.5px solid red;
  }
}
.page-title {
  h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.3px;
  }
}
.movie-info-btn {
  font-size: 19px;
  color: #ff2400 !important;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px;
  border-bottom-style: dashed;
  box-sizing: border-box;
  height: 30px;
  &:hover {
    color: $primary-color !important;
  }
}
.play-btn {
  border: none;
  width: 140px;
  height: 140px;
  background: radial-gradient(rgb(255 0 0 / 80%) 60%, rgb(255, 255, 255) 62%);
  border-radius: 50%;
  position: relative;
  display: block;
  margin: 100px auto;
  box-shadow: 0px 0px 25px 3px rgb(215 6 6 / 80%);
}

/* triangle */
.play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  transform-origin: center center;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #fff;
  z-index: 100;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* pulse wave */
.play-btn:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.75);
  top: -25%;
  left: -25%;
  background: rgba(198, 16, 0, 0);
}

@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75),
      0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;
  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75),
      0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;
  }
}
.modal-video {
  position: absolute;
  z-index: 23232;
  top: 300px;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  .modal-video-body {
    display: flex;
    width: 90%;
    .modal-video-inner {
      display: flex;
      justify-content: center;
      width: 100%;
      .modal-video-close-btn {
        display: none;
      }
    }
  }
}
.primary-btn {
  border: 1px solid red;
  padding: 10px 24px;
  font-weight: 500;
  font-size: 16px;
  margin-top: 2rem;
  &:hover {
    transition: 0.3s;
    color: red !important;
    border: 1px solid #fff;
  }
}
