body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
}
a {
  color: unset !important;
  text-decoration: none !important;
}
.mt-6 {
  margin-top: 5rem;
}
.section-margin {
  margin-bottom: 3.5rem !important;
  margin-top: 3.5rem !important;
}
.input-container {
  position: relative;
  .movie-input {
    padding: 11px 72px 10px 19px;
    outline: none;
    border: 1.5px solid #6c6a6a;
    border-radius: 30px;
  }
  span {
    position: absolute;
    right: 16px;
    top: 0px;
    font-size: 25px;
    cursor: pointer;
    color: #6c6a6a;
  }
  &:focus {
    border: 1.5px solid red;
  }
}
.page-title {
  h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.3px;
  }
}
.movie-info-btn {
  font-size: 19px;
  color: #ff2400 !important;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px;
  border-bottom-style: dashed;
  box-sizing: border-box;
  height: 30px;
  &:hover {
    color: $primary-color !important;
  }
}
